<div class="col-md-2"></div>
<div class="col-md-8">
	<div class="page-title">Dashboard</div>
	<%= link_to "My devices", my_devices_path, :class => "btn btn-success btn-block" %>
	<%= link_to "Add device", new_device_path, :class => "btn btn-success btn-block" %>
	<%= link_to "Requests", requests_path, :class => "btn btn-success btn-block" %>
</div>
<div class="col-md-2"></div>

